html, body {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    flex-direction: column;
    background-image: url(../utils/images/galax.jpg)
}

.Menu{
    display: flex;
    width: 100%;
    justify-content: center;
}

.Menu2{
    display: none;
}

.Menu ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: min-content;
    width: min-content;
    padding-inline-start: 0;
}

.Menu ul li{
    background: #faf754;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 23px;
    width: auto;
    padding: 10px;
    height: 90%;
    border-radius: 20px;
    align-items: center;
    border: 1px solid black;
    margin: 10px;
    transition: border 2s, background-color 2s, box shadow 2s;
}

.Menu ul li:hover{
    background-color: rgb(172, 170, 152);
    border: 1px solid rgb(92, 87, 82);
    box-shadow: 4px 4px 14px 1px rgba(143, 139, 139, 0.521);
    cursor: pointer;
}

.container{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.titulo{
    display: flex;
    width: 100%;
}
.tituloJuan{
    color: black;
    position: absolute;
    font-size: 40px;
    margin: auto;
    right: 50%;
    animation: ease;
    animation-name: slideinTitle;
    animation-duration: 3s;
}

.cabecera{
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

h1{
    color: rgb(140, 153, 153);
}

/*.cubo-P{
    display: flex;
    width: 200px;
    height: 200px;
    background-color: #00C9A7;
    animation: ease-in-out;
    animation-name: slidein;
    animation-duration: 3s;
    justify-content: center;
    font-size: 40px;
    align-items: flex-start;
    
}

.cubo1{transition: width 2s, height 2s, background-color 2s,transform 5s, opacity 6s; }
.cubo2{transition: width 2s, height 2s, background-color 2s,transform 5s,}



.cubo1:hover{
    background-color: burlywood;
    width: 280px;
    height: 280px;
    transform: scale(0.5);
    align-items: center;
    opacity: 0;
}

.cubo2{
    animation-name:;
    background-color: #B0A8B9;
}

.cubo2:hover{
    background-color: burlywood;
    width: 280px;
    height: 280px;
    transform: scale(1);
    align-items: center;
}

.michi{
    display: flex;
    width: 50%;
    height: auto;
    animation: ease-in-out;
    animation-name: "";
    animation-iteration-count: infinite;
    animation-duration: 1s;
    transition: transform 3s;
}

.michi:hover{
    transform:rotate(360deg) ;
}

.cubo3{
animation-iteration-count: infinite;
animation-name: temblar;
animation-duration: 3s;
}*/





/* animacion */
@keyframes slidein {
    from {
    margin-left: 100%;
    }
    to {
        margin-left: 0%;
    }
}
@keyframes slideinTitle {
    from {
    right: 100%;
    }
    to {
        right:50%;
    }
}

@keyframes slideup {
    from {
        margin-top:100%;
    }
    to {
        margin-top:0%;
    }
}

@keyframes temblar {

    0% {
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(20deg);
    }
    75%{
        transform: rotate(-20deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes llegadaDerecha{
    0%{
        opacity: 0;
        transform: translateX(1000px) ;
    }  

    60%{
        opacity: 0.8 ;
        transform: translateX(-80px)
    }

    80%{
    opacity: 0.9;         
        transform:  translateX(15px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }

}

@keyframes llegadaIzquierda{
    0%{
        opacity: 0;
        transform: translateX(-1000px) ;
    }  

    60%{
        opacity: 0.8 ;
        transform: translateX(80px)
    }

    80%{
    opacity: 0.9;         
        transform:  translateX(-15px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }

}

@keyframes llegadaArriba{
    0%{
        opacity: 0;
        transform: translateY(-1000px) ;
    }  

    60%{
        opacity: 0.8 ;
        transform: translateY(80px)
    }

    80%{
    opacity: 0.9;         
        transform:  translateY(-15px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }

}

@keyframes llegadaAbajo{
    0%{
        opacity: 0;
        transform: translateY(1000px) ;
    }  

    60%{
        opacity: 0.8 ;
        transform: translateY(-80px)
    }

    80%{
    opacity: 0.9;         
        transform:  translateY(15px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }

}

/*--------- section de giros ------------*/

#Giros{
    display: flex;
    width: 100%;
    height: min-content;
    justify-content: space-around;
    border: 1px solid darkviolet;    
}

.card{
    display: flex;
    width: 160px;
    height: 160px;
    margin: 20px;
    padding: 10px;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.card2{
    display: flex;
    width: 90px;
    height: 190px;
    background-image: url(../utils/images/nav.jpg);
    background-repeat: no-repeat;
    margin: 20px;
    padding: 10px;
    border-radius: 15px;
    justify-self: center;
    align-self: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: transform 3s;
    color: blanchedalmond;

}

.Giros{  
    display: grid;
    width: 99%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    grid-template-rows: auto;
    column-gap: 10px;
    row-gap: 15px;
}

.Transiciones{
    display: grid;
    width: 99%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    grid-template-rows: auto;
    column-gap: 10px;
    row-gap: 15px;

}



/*---Giros----*/ 


.Giro_completo:hover{
    transform: rotate(360deg);
}
.Giro_completo_left:hover{
    transform: rotate(-360deg);
}

.Giro_completo_medio:hover{
    transform: rotate(180deg);
}

.Giro_completo_medioIzquierda:hover{
    transform: rotate(-180deg);

}


.Giro_completo_infi:hover{
    animation-name: infinito;
    animation-duration: 3s;
    animation-iteration-count: infinite;


}
/*infinitooooooooooo*/

@keyframes infinito{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
} 


/*Tansisiones*/

.slideRigth{
    animation-name: llegadaDerecha;
    animation-duration: 3s;
}

.slideLeft{
    animation-name: llegadaIzquierda;
    animation-duration: 3s; 
}

.slideTop{
    animation-name: llegadaArriba;
    animation-duration: 3s;
}

.slideBot{
    animation-name: llegadaAbajo;
    animation-duration: 3s;
}

/* zoom*/ 
.zoom{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 50%;
    padding: 20px 0;
    column-gap: 18px;
    row-gap: 15px;
}

.zoom_in:hover{
    transform: scale(1.5);

}
.zoom_on:hover{
    transform: scale(0.3);

}

/*Animacion*/

.animaciones{
    width: 100%;
}


.anima {
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    color: blanchedalmond};
}




@keyframes pulse {
	
	25% {
		opacity: 0.4;
	}
	
	100% {
		transform: scale(1);
	}
	
}


/*media*/

@media screen and (min-width:421px) and (max-width:800px) {
    .Transiciones, .Giros{
        grid-template-columns: 1fr 1fr;
    }
}


@media screen and (min-width:100px) and (max-width:420px) {
    .Transiciones, .Giros{
        grid-template-columns: 1fr 1fr;
    }
    .Menu{
        display: flex;
        flex-direction: row;
        width: 80px;
        

    }
} 


@media screen and (min-width:375px) and (max-width:420px) {
    
    .Transiciones{
        grid-template-columns: 1fr;
    }

}

@media screen and (max-width: 799px) {
    .Menu{
        display: none;
    }

    .Menu2 {
        display: flex;
        flex-direction: column;
        justify-content: left;
        margin-right: 70%;
        width: 20%;
        justify-content: center;
    }

    .Menu2 ul{

    }
    .Menu2 li{
        background: #00C9A7;
        list-style: none;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 15px;
        width: 100px;
        padding: 1px;
        height: 25%;
        border-radius: 3px;
        justify-content: left;
        border: 1px solid black;
        margin: 10px;
        transition: border 2s, background-color 2s, box shadow 2s;
        text-align: center;
        margin-left: 30px;


    }

    .Menu2 ul li:hover{
        background-color: crimson;
        border: 1px solid burlywood;
        box-shadow: 4px 4px 14px 1px rgba(245, 8, 8, 0.41);
    }
    
}